@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900|Cabin:400,700|Droid+Serif:400,700|Playball);
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    height: 100%;
    background: #292929;
    color: #000;
    overflow-x: hidden;
    font-family:'Source Sans Pro', sans-serif;
}
.spacetop80{padding-top: 80px}
.spacebottom80{padding-bottom: 80px}
.spacebottom120{padding-bottom: 120px}
.relative{position: relative;}
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    transition: all 0.5s;
    width: 100%;
    -webkit-transform: translate3d(0,0,0);
}

header{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
}
header:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    background: #000;
    z-index: -1;
    opacity: .8;
    transition: all 0.5s ease;
}
header:after {
    content: '';
    height: 10px;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    background: url(../images/triangle_bg_black.webp) repeat-x;
    background-size: 26px 10px;
    opacity: .8;
    transition: all 0.5s ease;
}

.header-inner {
    width:100%;
    position:relative;
    padding:0px 0;
    top:0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.header-inner:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:0;
    background:#fff;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.logo{padding-top: 0; padding-bottom: 0; margin-top: -20px}
.logo img {height: 100px; transition: all 0.5s ease;}
.logo-vis {
  position:relative;
  z-index:1;
  -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.logo-notvis {
  position:absolute;top: 8px;left: 16px;
  z-index:2;opacity:0;
  -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
  opacity:0;
}
/*.logo-sticky  img.logo-vis {
  opacity:0;
}
.logo-sticky img.logo-notvis {
  opacity:1;
}*/
.sticky header:before{transition: all 0.5s ease;}
header.sticky .logo img{height: 60px;margin-top: 20px;}
.sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    -moz-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
    animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;
    box-sizing: border-box;
} 
.sticky .toparea{display: none;}
/*header.sticky .logo{margin-top:0px}*/
header.sticky{ padding-top: 0; padding-bottom: 0px;}
header.sticky .nav-social{opacity: 0; height:0;/* display: none; *//* transition: all 0.5s ease; */top: -30px;/* visibility: hidden; */}
/*------ Navigation  ------------------------------------------------*/
.nav-holder {
    float:right;
    position:relative;
    margin-top:20px;
}
.nav-menu {
    position:relative;
}
.nav-menu li{
    display: inline-block;
    position:relative;
    padding: 10px 22px;
}
.nav-menu li a {
    float: left;
    line-height: 1;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    top:0;
    position:relative;
    /*font-family: 'Droid Serif', serif;*/
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear;
}
.nav-menu li a:before , .nav-menu li a:after {
    content:'';
    position:absolute;
    top:50%;
    margin-top:-2px;
    width:4px;
    height:4px;
    background:#fff;
    border-radius:100%;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-transform: scale(0.1);
    -moz-transform:scale(0.1);
    transform: scale(0.1);
    opacity:0;
}
.nav-menu li a:before {
    left:-10px;
}
.nav-menu li a:after {
    right:-10px;
}
.nav-menu li a.active:before , .nav-menu li a.active:after {
    -webkit-transform: scale(1.0);
    -moz-transform:scale(1.0);
    transform: scale(1.0);
    opacity:1;
}

.nav-menu li:last-child {
    padding-right:0;
}

.nav-social {
    float:right;
    width:100%;
    position:relative;
        height: 20px;
    /* -webkit-transition: all 600ms linear; */
    -moz-transition: all 600ms linear;
    -o-transition: all 600ms linear;
    -ms-transition: all 600ms linear;
    /* transition: all 600ms linear; */
    transition: all 0.5s ease;
    top: 20px;
    right: 28px;
    position: relative;
    z-index: 2;
}
.nav-social ul {
    float:right;
    padding: 0; margin: 0;
}
.nav-social li  {
    list-style: none;
    display: inline-block;
    /* padding:10px; */
}
.nav-social li:last-child {
    /* padding-right:0; */
}
.nav-social li a {
    color: rgba(255,255,255,.5);
    font-size:14px;
    padding-left: 10px;
}
.nav-social li a:hover{ color: #fff;}

.background_video {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  /*object-fit: cover;*/
  height: 100vh; width: 100%;
}

.ms-slide .ms-slide-bgvideo {left: 0;}
.video-container {
    height: 100vh;
    width: 100%;
    position: relative;
}
.video-vertical-center-table {
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.scroll-downs {
    position: absolute;
    bottom: 110px;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: .75;
    box-sizing: content-box;
}
.scroller {
    width: 4px;
    height: 14px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity:0
    }
    10% {
        transform:translateY(0);
        opacity:1
    }
    100% {
        transform:translateY(15px);
        opacity:0
    }
}
@keyframes thing {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.1, 1.1);
    }
}
.triangle-bottom{position: relative;}

.triangle-bottom:after {
        content: '';
        height: 10px;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        background: url(../images/triangle_bg.webp) repeat-x;
        background-size: 26px 10px;
        transform: rotate(180deg); -webkit-transform: rotate(180deg);
}

.triangle-up:after {
        content: '';
        height: 10px;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        background: url(../images/triangle_bg.webp) repeat-x;
        background-size: 26px 10px;
}

.master-slider .pi-caption01 {
    font-family:'Playfair Display', cursive;
    color: #fff;
    font-size: 78px;
    line-height: 78px;
    text-transform: uppercase;
}
.master-slider .pi-caption02 {font-family:'Playball', cursive;font-size: 72px;text-transform: none;}
.master-slider .pi-text01 {color: #fff;font-size: 30px; text-align: center; font-weight: bold;}
.master-slider .pi-text02,
.master-slider .pi-text02 span {}
.master-slider .pi-text02 {color: #fff;font-size: 24px;}
.master-slider .pi-text02 span {color: #acb8c4;}
.master-slider .divider {width: 29.5em;text-align: center;}
.master-slider .divider .hr-double.left:before {
    position:absolute;
    content: "";
    width: 10em;
    height: 1px;
    left: 2em;
    top: 1.8em;
}
.master-slider .divider .hr-double.left:after {
    position:absolute;
    content: "";
    width: 12em;
    height: 1px;
    top: 2.2em;
    left: 0;
}
.master-slider .divider .hr-double.right:before {
    position:absolute;
    content: "";
    width: 10em;
    height: 1px;
    right: 2em;
    top: 1.8em;
}
.master-slider .divider .hr-double.right:after {
    position:absolute;
    content: "";
    width: 12em;
    height: 1px;
    top: 2.2em;
    right: 0;
}

.master-slider .divider-svg {display: inline-block;width: 3em;height: 4em;}
.master-slider .divider .divider-svg img{width: 3em;height: 4em;}
.master-slider .divider .hr-double:before,
.master-slider .divider .hr-double:after{background-color: #fcda9a;}
.master-slider .pi-caption02{color: #fcda9a;}
/*------about------------------------------------------------*/ 


.image-collge-wrap:before {border-color:#c19d60;}
.brush-dec , .brush-dec2 {
    position:absolute;
    left:0;
    z-index:20;
    height:40px;
    width:100%;
    z-index:20;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    background-origin: content-box;
}
.brush-dec {bottom:0;background:url(../images/brush-dec.png);}
.brush-dec2 {top: -2px;height: 50px; background: url(../images/brush-dec_2.png);}
.ourstory{background:#040404;padding: 140px 0; overflow: hidden;text-align: left;}
.section-dec.sec-dec_top {/*top: -70px;left: -70px;*/border-top: 1px dotted;border-left: 1px dotted;border-color: #c19d60;}
.section-dec{position: absolute;
    width: 60px;
    height: 60px;
    top: -38px;
    left: -20px;}

.sec-dec_right {/*top: -70px;left: -70px;*/border-bottom: 1px dotted;border-right: 1px dotted;border-color: #c19d60;}
.section-right{position: absolute;
    width: 60px;
    height: 60px;
    bottom: -70px;
    right: -20px;}    
.wave-bg {
    position: absolute;
    bottom: -5%;
    left: -10%;
    width: 80px;
    height: 180px;
    background: url(../images/wave.png);
    -webkit-animation: movebounce 5s linear infinite;
    animation: movebounce 5s linear infinite;
}
.storyblock{}
.storyblock h4 {
    font-family:'Playball', cursive;
    font-style: italic;
    /* font-size: 18px; */
    font-weight: 500;
    /* padding-bottom: 10px; */
    color: #c19d60;
}
.storyblock h2 {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    font-family:'Playfair Display', cursive;
}
.dots-separator {margin: 10px 0 30px;width: 100%;position: relative;}
.dots-separator span {display: inline-block;width: 60px; position: relative;}
.dots-separator span:after {
    content: '\25CF\25CF\25CF\25CF\25CF\25CF';
    color: #333;
    font-size: 7px;
    letter-spacing: 4px;
    color: rgba(255,255,255,0.5);
}
.dots-separator-black span {display: inline-block;width: 60px; position: relative;}
.dots-separator-black span:after {
    content: '\25CF\25CF\25CF\25CF\25CF\25CF';
    color: #000;
    font-size: 7px;
    letter-spacing: 4px;
    color: rgb(0 0 0 / 50%)}
.ourtextblock{padding-right: 40px;color: rgba(255,255,255,0.8);}
.image-collge-wrap:before {
    content: '';
    position: absolute;
    left: 50px;
    bottom: -50px;
    right: 50px;
    height: 150px;
    /*background: #212121;*/
    border: 1px dotted;
}
.image-collge-wrap:before {border-color: #c19d60;}
.main-iamge {
    position: relative;
    z-index: 10;
    overflow: hidden;
    width: 100%;
    float: left;
    box-shadow: 0 9px 16px rgb(58 87 135 / 35%);
}
.images-collage-item {
    overflow: hidden;
    height: auto;
    top:0;
    right:0;
    position: absolute;
    z-index: 1;
}
.main-iamge img ,.images-collage-item img , .menu-item-media img {width:100%;height:auto;}
.images-collage-item img{width: 100%;height: auto;}
.col_par{width: 120px; position: absolute;top: -70px;right: 50%;
    -webkit-animation: animationFramesOne 20s linear infinite;
    animation: animationFramesOne 20s linear infinite;}
.parallax {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.offersbg {
    background-image: url(../images/offers.jpg);
}  
.reservationsbg:before, 
.testimbg:before,
.offersbg:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: rgb(0 0 0 / 80%);
    top: 0;
}
.section-title {
    width: 100%;
    position: relative;
    z-index: 5;
}
.section-title h4 {
    font-family: 'Playball', cursive;
    font-style: italic;
    /* font-size: 18px; */
    font-weight: 500;
    /* padding-bottom: 10px; */
    color: #c19d60;
}
.section-title h2 {
    font-size: 30px;
    font-weight: 900;
    font-family: 'Playfair Display', cursive;
}
.dark-bg .section-title h2 {
    color: #fff;
}

.content-inner {
    width:100%;
    color: #fff;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    transition: .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.content-inner > * {
    backface-visibility: hidden;
    transition: .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.content-inner:hover .content-front {
    transform: rotateY(-180deg);
}
.content-inner:hover .content-back {
    transform: rotateY(0deg);
}
.content-inner .content-front,
.content-inner .content-back {
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-front {
    background: #292929;
    position:relative;
    cursor:pointer;
}
.content-front  .cf-inner:before {
    top:20px;
    left:20px;
    border-left:1px dotted;
    border-top:1px dotted;
}
.content-front .cf-inner:after {
    bottom:20px;
    right:20px;
    border-right:1px  dotted;
    border-bottom:1px dotted;
}
.content-front  .cf-inner:before , .content-front  .cf-inner:after {
    content:'';
    position:absolute;
    width:50px;
    height:50px;
    border-color:rgba(255,255,255, 0.4);
    z-index:10;
}
.content-inner .content-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: rotateY(180deg);
    background: #191919;
}
.content-inner .cf-inner {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width:100%;
    padding:150px 30px;
}
.content-inner .cf-inner .inner {
    align-items: stretch;
    transform-style: preserve-3d;
    perspective: 1000px;
    backface-visibility: hidden;
    transform: translateZ(95px) scale(0.81);
    text-align: center;
    position:relative;
    z-index:2;
} 
.content-back i {
    font-size:54px;
    position:relative;
}
.dec-icon {
    position:relative;
    display:inline-table;
    width:80px;
    height:80px;
}
.dec-icon:before , .dec-icon:after {
    content:'';
    position:absolute;
    width:60px;
    height:10px;
    border-radius:10px;
    background:rgb(49 47 47);
}
.dec-icon:before {
    left:-15px;
    top:12px;
}
.dec-icon:after  {
    right:-15px;
    bottom:12px;
}
.dec-icon i {z-index:3;}
.content-back:after,
.dec-icon i {color: #c19d60;}
.content-back .dec-icon {
    top:-20px;
}
.content-inner .cf-inner .inner p {
    color:#fff;
}
.content-back:after  {
    position:absolute;
    content: '\25CF\25CF\25CF';
    width:50px;
    left:50%;
    bottom:30px;
    margin-left:-25px;
    font-size: 9px;
    letter-spacing: 4px;
}
.serv-num {
    position:absolute;
    bottom:20px;
    left:30px;
    color:#fff;
    font-family: 'Playfair Display', cursive;
    z-index:3;
    font-size:20px;
}
.content-inner .cf-inner .inner h2  {
    position:relative;
    font-size:22px;
    font-weight:800;
    font-family: 'Playfair Display', cursive;
}
.content-inner .cf-inner .inner h2:after {
    content:'';
    position:absolute;
    top:-30px;
    margin-left:-25px;
    left:50%;
    width:50px;
    height:2px;
}
.content-inner .cf-inner .inner h2:after{background: #c19d60;}
.content-inner .content-front h4{
    display:inline-block;
    color:#fff;
    text-transform:uppercase;
    font-size:12px;
    letter-spacing:2px;
    margin:0 4px;
}
.content-inner .cf-inner .inner h2:before {
    content:'';
    position:absolute;
    left:50%;
    bottom:10px;
    width:20px;
    height:2px;
    margin-left:-10px;
}
.single-slider-wrap img{
    width:100%;
    height:auto;
}
.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover !important;
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    background-origin: content-box;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 3;
}
.hero-menu{ background: rgb(0 0 0 / 68%);
    padding: 20px;
    border: 1px solid rgb(68 67 67 / 63%);}

.promotion-content{color: #fff;}
.promotion-details {display: table;color: #fff;}
.promotion-desc {
    font-weight: bold;
    font-size: 20px;
    display: table-cell;
    white-space: nowrap;
    width: 10%;padding-right: 5px;
    line-height: 15px;
}
.promotion-dot {
    display: inline-block;
    width: 100%;
    border-bottom: 1px dotted #bb975c;
}
.promotion-prices {
    display: table-cell;
    white-space: nowrap;
    width: 2%;
    padding-left: 10px;
    text-align: left;
}
.promotion-price {
    text-decoration: line-through;
    text-align: left;
    color: #a2a2a2;
}
.promotion-discount {
    font-weight: 900;
    font-size: 30px;
    text-decoration: none;
    padding-left: 3px;
    color: #c19d60;
}

.container-filter {padding: 0; text-align: center;display: block;}

.container-filter li {
  list-style: none;
  display: inline-block;
  margin-bottom: 10px;
}

.container-filter li a {
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.container-filter li a:before, 
.container-filter li a:after {
  content: '';
  left: 0;
  position: absolute;
  background: #c19d60;
  width: 100%;
  height: 1px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
}
.container-filter li a:before {
  top: -10px;
}
.container-filter li a:after {
  bottom: -10px;
}
.container-filter li a.active, 
.container-filter li a:hover {
  color: #c19d60;
}
.container-filter li a.active:before {
  width: 100%;
}
.container-filter li a.active:before {
  top: -4px;
  opacity: 1;
}
.container-filter li a.active:after {
  bottom: -4px;
  opacity: 1;
}
.testimbg {
    background-image: url(../images/testimbg.jpg);
}
.testimonialbg {
    text-align: center;
    background: rgb(0 0 0 / 68%);
    padding: 30px 30px 50px;
    border: 1px solid rgb(68 67 67 / 63%);
}
.testi-avatar {
    position: relative;
    left: 50%;
    top: 8px;
    width: 90px;
    height: 90px;
    margin-left: -45px;
    z-index: 20;
}
.testi-avatar:before{
    content: '';
    position: absolute;
    border-radius: 100%;
    left: -8px;
    bottom: -8px;
    right: -8px;
    top: -8px;
    border: 1px solid rgba(255,255,255,0.08);
    z-index: 1;
    background: #303030;
    }
.testimonilas-text:before {
    content: "\f10e";
    top: 20px;
    left: 40px;
}
.testi-avatar img {
    width: 90px;
    height: 90px;
    /* float: left; */
    border-radius: 100%;
    position: relative;
    z-index: 2;
}
.testimonilas-text:after {
    content: "\f10e";
    bottom: 30px;
    right: 40px;
}
.testimonilas-text:before, .testimonilas-text:after {
    font-family: Font Awesome\ 5 Pro;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 32px;
    transition: all 400ms linear;
    color: #c19d60;
}
.testimonilas-text h3 {
    font-weight: 600;
    font-family: 'Playfair Display', cursive;
    font-size: 18px;
    color: #fff;
    padding-top: 30px;
}

.testimonilas-text p {
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 500;
}
.star-rating{color: #c19d60; padding-bottom: 20px;}
.testi-item {
    transition: all .3s ease-in-out;
    transform: scale(0.9);
}
.testi-item:after {
    position: absolute;
    content: '\25CF\25CF\25CF';
    left: 50%;
    bottom: 0;
    font-size: 10px;
    letter-spacing: 4px;
    color: #c19d60;
}

/** contact-form-section **/
.contact-form-section{background: #f8f8f8; padding-top: 70px; padding-bottom: 70px;}
.contact-form{
  position: relative;
  display: block;
  z-index: 1;
  margin-bottom: 20px;
}
.contact-form label{padding-top: 15px;color: #fff;}
.contact-form label span{color: #ff0000; padding-left: 5px;}
.contact-form .form-control{
     position: relative;
    display: block;
    width: 100%;
   /* height: 50px;*/
    background:transparent;
    border: 0;
    color: #fff;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 0px;
    padding: 5px 0px;
    transition: all 500ms ease;
    /*box-shadow: 0px 1px 15px rgba(159, 159, 159, 0.11);*/
}
select option{background:#000;}
.contact-form select.form-control{ height: 50px !important;}
.contact-form textarea.form-control {
  height:70px;
  resize: none;
}

.contact-form .form-control:focus,
.contact-form .form-control:focus{
  border-color: #c19d60;
  box-shadow: none;
  outline: none;
}

.contact-form .form-control input::-webkit-input-placeholder,
.contact-form .form-control textarea::-webkit-input-placeholder{
  color:#fff;
}

.submitbtn{
        border-radius: 0;
    border: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    width: 100%;
    outline: 0;
    background: #c19d60;
    transition: all 0.5s;
    }
.submitbtn:focus,   
.submitbtn:hover{text-decoration: none;background: #040404;color: #fff;outline: 0;}

input[type="date"] {
    position: relative;
}

/* create a new arrow, because we are going to mess up the native one
see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input[type="date"]:after {
    font-family: Font Awesome\ 5 Pro;
    font-weight: 900; 
    content: "\f133";
    color: #fff;
    padding: 0 5px;
}

input[type="time"]:after {
    font-family: Font Awesome\ 5 Pro;
    font-weight: 900; 
    content: "\f017";
    color: #fff;
    padding: 0 5px;
}


/* change color of symbol on hover */
/*input[type="date"]:hover:after {
    color: #bf1400;
}*/

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="time"]::-webkit-calendar-picker-indicator, 
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

/* adjust increase/decrease button */
input[type="time"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

 /* adjust clear button */
  input[type="time"]::-webkit-clear-button,
 input[type="date"]::-webkit-clear-button {
     z-index: 1;
 }
.image-layer {
    position: absolute;
    right: 0px;
    top: 0px;
    overflow: hidden;
    width: 48%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.image-layer:after {
    content: '';
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.50);
    width: 100%;
    height: 100%;
}

.reservationsbg{
background-image: url(../images/slider1.jpg);
background-attachment: fixed;
    padding: 140px 0;
    overflow: hidden;
    text-align: left;}


/*animation*/
@-webkit-keyframes movebounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes movebounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes moveleftbounce {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes moveleftbounce {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    50% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }
    to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes animationFramesOne {
    0% {
        -webkit-transform: translate(0) rotate(0deg)
    }
    20% {
        -webkit-transform: translate(73px, -1px) rotate(36deg)
    }
    40% {
        -webkit-transform: translate(141px, 72px) rotate(72deg)
    }
    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg)
    }
    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg)
    }
    to {
        -webkit-transform: translate(0) rotate(0deg)
    }
}

@keyframes animationFramesOne {
    0% {
        -webkit-transform: translate(0) rotate(0deg)
    }
    20% {
        -webkit-transform: translate(73px, -1px) rotate(36deg)
    }
    40% {
        -webkit-transform: translate(141px, 72px) rotate(72deg)
    }
    60% {
        -webkit-transform: translate(83px, 122px) rotate(108deg)
    }
    80% {
        -webkit-transform: translate(-40px, 72px) rotate(144deg)
    }
    to {
        -webkit-transform: translate(0) rotate(0deg)
    }
}
/*end animations*/

.single-blocks-img {position: relative;transition: all 0.5s ease;}
.single-blocks-img img{width: 100%; height: auto;}
.single-blocks-img:hover{
    opacity: .5;
}
.single-blocks-img::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    width: 100%;
}
.whats-details {
    background: #fff none repeat scroll 0 0;
    color: #1a1a1a;
    padding: 50px;
    position: relative;
    /*margin-top: 10%;*/
    z-index: 1;
    margin-left: -50px;
}
.whats-details h3 {
    font-size: 30px;
    font-weight: 900;
    color: #000;
    font-family: 'Playfair Display', cursive;
}

/* ----------------------------------------------------------------------*/
/* Portfolio   --------------------------------------------------------- */
/* ----------------------------------------------------------------------*/
.container-filter {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
}

.container-filter li {
  list-style: none;
  display: inline-block;
  margin-bottom: 10px;
}

.container-filter li a {
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-box {
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
}
.item-box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.85);
  opacity: 0;
  transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
}
.fancylight img{width: 100%; height: auto;}
.item-box:hover:after {
  transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  opacity: 1;
}
.gallery-heading h4 {
  margin-bottom: 0;
}
.gallery-heading h4 a {
  color: #fff;
}
.gallery-heading h4 a:hover {
  color: #ffaf36;
}
.gallery-heading {
  transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  position: absolute;
  bottom: -100px;
  left: 25px;
  color: #fff;
  z-index: 1;
}
.item-box:hover .gallery-heading {
  bottom: 11px;
  transition: all 0.3s linear 0.1s;
  -webkit-transition: all 0.3s linear 0.1s;
}
.link-zoom {
  transition: all 0.2s linear 0s;
  -webkit-transition: all 0.2s linear 0s;
  height: 40px;
  position: absolute;
  top: 55%;
  left: 50%;
  color: #fff;
  z-index: 1;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  opacity: 0;
}
.item-box:hover .link-zoom {
  top: 50%;
  opacity: 1;
  transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
}
.link-zoom a {
  width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #292929;
    color: #fff;
    border-radius: 100%;
}
.link-zoom a.project_links {
  background: #19b5fe;
}
.item-box a {
  display: inline-block;
}

.item-box:hover .item-mask {
  opacity: 1;
  visibility: visible;
}

.item-box:hover .item-mask .item-caption, .item-box:hover .item-mask .link {
  bottom: 30px;
  opacity: 1;
}
.item-box:hover .item-mask .link {
  bottom: 107px;
}
.item-box:hover .item-container {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  width: 100%;
}

.item-container {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  width: 100%;
  transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  -o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.nf-item{margin-bottom: 30px;/*border: 1px solid #ddd;padding: 5px;*/background: #f3f3f3;
    box-shadow:0 16px 38px -12px rgb(0 0 0 / 15%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%)}
/*.nf-col-3 .nf-item, .nf-col-3 .grid-sizer {
    width: 33.3333%;
    min-height: 1px;
}

.nf-row2 .nf-item.spacing, .nf-item.spacing, .nf-row2 .grid-sizer.spacing, .spacing-box {
    padding: 10px;
}*/

footer{padding-top: 60px; font-size: 14px; color:rgba(255,255,255,0.7); background: #040404;}
.fotitle{position: relative;
    margin-bottom: 20px;
    font-size: 20px;
    padding-bottom: 10px;
    color: #b5b5b5;
    font-family: 'Playfair Display', cursive;}
.fotitle:before{
   position: absolute;
   content: '';
   width: 60px;
   height: 0px;
   /* background: #ff5518; */
   left: 0;
   bottom: 0;
   border-bottom: 1px dotted rgba(255,255,255,0.3);
}
.address-list{padding: 0; margin: 0; list-style: none;}
.address-list li{display: block;padding:0px 0px 15px 30px;position: relative;color: #999;}
.address-list li i{content: "";position: absolute;left: 0;top: 2px;font-family: Font Awesome\ 5 Pro;font-size: 18px;color: 808080;}
.address-list li a{text-decoration: none;color: #999; transition: all 0.3s ease;}
.address-list li a:hover{text-decoration: none;color: #fff;}
.address-list li img{position: absolute;left: 0;top: 16px;} 
.f1-list {padding: 0;margin: 0;}
.f1-list li {list-style: none;padding-bottom: 10px;position: relative;display: block;padding-left: 15px;} 
.f1-list li a {color: #999;text-decoration: none;display: block;transition: all 0.3s ease;}
.f1-list li a:hover {color: #fff;text-decoration: none;padding-left: 5px;}
.f1-list li a:after {
    content: "\f105";
    font-family: Font Awesome\ 5 Pro;
    position: absolute;
    left: 0;
    top: 3px;
    line-height: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hours-list{padding: 0; margin: 0; list-style: none;}
.hours-list li{display: block;padding: 5px 0px;position: relative;color: #999;border-bottom: 1px dotted rgba(255,255,255,0.3);}
.hours-list li span{float: right;font-weight: bold;}

.fo-social{margin:0;padding: 0;list-style: none;/* padding-top: 11px; */}
.fo-social li{list-style: none;float: left;} 
.fo-social li a{
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: block;
    color: #999;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.1);
    border-left: none;
    background: rgb(4 4 4);
    transition: all 200ms linear;
}
.fo-social li:first-child a {border-left: 1px solid rgba(255,255,255,0.1);}
.fo-social li a:hover{text-decoration:none;color:#fff;background: #000;} 
.subcribe-form input.enteremail{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
    padding: 0 20px;
    height:50px;
    line-height:50px;
    box-sizing:border-box;
    position: relative;
    z-index: 1;
    color: #fff;
    width:70%;
    outline:none;
    float:left;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
} 
.subcribe-form .subscribe-button {
    float:right;
    /*font-family: 'Playfair Display', cursive;*/
    width: 28%;
    z-index: 2;
    height:50px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    line-height:50px;
    color: #fff;
    background: #c19d60;
    outline:none;
    border: none;
    cursor: pointer;
}
.subcribe-form .subscribe-button:hover {
    background:#333;
} 
.subscribe-message {
    position:absolute;
    bottom:-30px;
    left:0;
    width:100%;
    text-align:left;
    color:#fff;
    font-size:11px;
    font-weight:400;
}
.copyright {
    margin-top: 30px;
    background-color: #0a0a0a;
    padding: 20px 0 5px;
    position: relative;
    color: #c1c1c1;
    text-align: center;
}

.back-to-top {
      position: fixed;
      bottom: 10px;
      right: 10px;
      cursor: pointer;
      display: none;
      z-index: 9999999;
}
.back-to-top i{
    background: #111;
    color: #fff;
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    border-radius: 30px;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 20%);
}
.back-to-top i:hover {background: #000;color: #fff;} 
@media(max-width:480px){
    .section-right{display: none;}
}
@media(max-width:991px){
    .content-inner {margin-bottom: 30px;}
    .footer_heading{padding-top: 30px;}
    header {position: relative;}
    .whats-details{margin-left: 0;}
}
